@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Handlee&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    color: #333;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    margin-top: 20px;
    font-size: 2.5em;
    font-family: "Dancing Script", cursive;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.gallery {
    margin: 20px 0;
}

.gallery h2 {
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery-grid img {
    width: 30%;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: opacity 0.5s ease, transform 0.5s ease; 
}

.gallery-grid img:hover {
    opacity: 1; 
    transform: scale(1.05); 
}

.info-tabs {
    margin: 20px 0;
}

.info-tabs h2 {
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    background: #333333b2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.tab-button:hover {
    background: #555;
}

.tab-content {
    display: none;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    animation: fadeInAnimation 0.5s ease-out forwards, slideIn 0.5s ease-out forwards; 
}

@keyframes fadeInAnimation {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(-20px); }
    to { transform: translateY(0); }
}

.tab-content h3 {
   color: #333333b2;
}


.tab-content p {
    color: #34495e; 
    line-height: 1.6; 
    font-family: "Handlee", cursive;
    font-weight: 500;
    font-style: normal;
}
