@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Handlee&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    color: #333;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    margin-top: 20px;
    font-size: 2.5em;
    font-family: "Dancing Script", cursive;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.gallery {
    margin: 20px 0;
}

.gallery h2 {
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery-grid img {
    width: 30%;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.gallery-grid img:hover {
    opacity: 1;
    transform: scale(1.05);
}

.info-tabs {
    margin: 20px 0;
}

.info-tabs h2 {
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    background: #333333b2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.tab-button:hover {
    background: #555;
}

.tab-content {
    display: none;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    animation: fadeInAnimation 0.5s ease-out forwards, slideIn 0.5s ease-out forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
    }

    to {
        transform: translateY(0);
    }
}

.tab-content h3 {
    color: #333333b2;
}


.tab-content p {
    color: #34495e;
    line-height: 1.6;
    font-family: "Handlee", cursive;
    font-weight: 500;
    font-style: normal;
}


.likes {
    text-align: center;
    margin: 20px 0;
}

#like-button {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
}

#like-button:hover {
    background: #555;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
    color: #333;
    font-size: 16px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Responsive styles */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
        margin-bottom: 0;
    }

    .gallery h2 {
        text-align: center;
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        margin-top: 0;
      
    }

    
    .gallery-grid img {
        width: 100%;
    }

    .tab-button {
        padding: 5px;
        margin: 4px;
        font-size: 0.8em;
    }
    .tab-content p {
        color: #34495e;
        line-height: 1.2;
        font-family: "Handlee", cursive;
        font-weight: 300;
        font-style: normal;
        font-size: 15px;
        text-align: justify;
    }

    .info-tabs h2 {
        text-align: center;
        font-family: 'Playfair Display', serif;
        font-size: 23px;
    }

    .tab-content h3 {
        color: #333333b2;
        font-size: 23px;
        text-align: center;
    }

    .tab-content {
        padding: 10px;
    }

    .likes h2 {
        font-size: 18px;
    }

    #like-button {
        background: #333;
        color: #fff;
        border: none;
        padding: 5px 17px;
        cursor: pointer;
        margin-bottom: 0px;
        border-radius: 4px;
    }

    .likes p {
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1em;
        margin-bottom: 0;
    }

    .gallery h2 {
        text-align: center;
        font-family: 'Playfair Display', serif;
        font-size: 14px;
        margin-top: 0;
      
    }

    
    .gallery-grid img {
        width: 100%;
    }

    .tab-button {
        padding: 5px;
        margin: 4px;
        font-size: 0.4em;
    }
    .tab-content p {
        color: #34495e;
        line-height: 1.1;
        font-family: "Handlee", cursive;
        font-weight: 200;
        font-style: normal;
        font-size: 10px;
        text-align: justify;
    }

    .info-tabs h2 {
        text-align: center;
        font-family: 'Playfair Display', serif;
        font-size: 16px;
    }

    .tab-content h3 {
        color: #333333b2;
        font-size: 15px;
        text-align: center;
    }

    .tab-content {
        padding: 10px;
    }

    .likes h2 {
        font-size: 13px;
    }

    #like-button {
        background: #333;
        color: #fff;
        border: none;
        padding: 3px 13px;
        cursor: pointer;
        margin-bottom: 0px;
        border-radius: 4px;
    }

    .likes p {
        font-size: 10px;
    }
}

